<h2>Financial Overview</h2>

<div>
    <p><strong>Total Income:</strong> ₦@ViewBag.TotalIncome</p>
    <p><strong>Total Expenses:</strong> ₦@ViewBag.TotalExpenses</p>
    <p><strong>Balance:</strong> ₦@ViewBag.Balance</p>
</div>

<h3>Monthly Income</h3>
<table class="table">
    <thead>
        <tr>
            <th>Month</th>
            <th>Total Income</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.MonthlyIncome)
    {
        <tr>
            <td>@($"{item.Month}/{item.Year}")</td>
            <td>₦@item.Total</td>
        </tr>
    }
    </tbody>
</table>


<table class="table">
    <thead>
        <tr>
            <th>Month</th>
            <th>Total Expense</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.MonthlyExpenses)
    {
        <tr>
            <td>@($"{item.Month}/{item.Year}")</td>
            <td>₦@item.Total</td>
        </tr>
    }
    </tbody>
</table>