@model DashboardViewModel
@{
    ViewData["Title"] = "Student Dashboard";
}

<h2>Student Dashboard</h2>

<partial name="_DashboardStats" />

<a class="btn btn-primary rounded-pill" href="/Payments">My Payments</a>
