@model DashboardViewModel
@{
    ViewData["Title"] = "Teacher Dashboard";
}

<h2>Teacher Dashboard</h2>

<partial name="_DashboardStats" />

<a class="btn btn-info rounded-pill" href="/Students">View Students</a>
